html {
    overflow: hidden;
}

body {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    text-align: center;
    overflow: hidden;
}

body * {
    font-family: "Press Start 2P", system-ui;
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 400;
    font-style: normal;
}


/* Hide the assessment players table of content */
.lrn-region.lrn-right-region {
    display: none !important;
}

/* Hide burger menu */
#learnosity_assess>div>div.lrn-region-group.lrn-group-top {
    display: none !important;
}

/* Hide item progress bar */
#learnosity_assess>div>div.lrn-region-group.lrn-group-middle>div.lrn-region.items.lrn-items-region.has-right-region>div>div.progress.pos-middle {
    display: none !important;
}

.lrn-label * {
    padding: 0rem !important;
}

label {
    padding: 0rem !important;
}
.lrn_widget.lrn_mcq.lrn_mcqgroup 
{
    border: none !important;
    border-left: none !important;
}

.lrn_widget.lrn_mcq .lrn_mcqgroup .lrn-mcq-option {
    border-left: none !important;
  }

.lrn_contentWrapper {
    
    min-width:  0 !important;
    margin: 1rem;
    padding: 1rem !important;
    font-size: 3rem !important;
    border: 4px solid rgb(121, 121, 121) !important;
    border-radius: .5rem !important;
    padding: 1rem !important;
    margin: 1rem !important;
}

.lrn_mcqgroup * {
    display: block !important;
    overflow: hidden !important;

}


#learnosity_assess, #learnosity_assess * {

    font-family: "Press Start 2P", system-ui !important;
    font-weight: 400 !important;
    font-style: normal !important;
    font-size: 2rem !important;
    background-color: transparent !important;
    background: transparent !important;
    border-left: none;
}

#burstCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
    /* Ensure it's above other elements */
}

#learnosity_assess input {
    display: none !important;
}

.lrn-possible-answer * {
    width: auto !important
}

#learnosity_assess>div>div.lrn-assess-dialogs.dialogs {
    display: none !important;
}



li {
    list-style-type: none !important;
}


@keyframes bounceIn {
    0% {
        transform: scale(5);
        opacity: 0;
    }

    60% {
        transform: scale(1);
        opacity: 1;
    }

    80% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.animated-box {
    transform: scale(0);
    opacity: 0;
    transform-origin: center;
    height: 90%;
    min-width: 50%;
    max-width: 50vh;
    align-self: center;
    border: .5rem solid;
    border-color: rgb(121, 121, 121);
    /* background: radial-gradient(circle, #e6e3e3 0%, #ffffff 100%); */
    border-radius: 1rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 1);
}

@media (max-width: 768px), (hover: none) and (pointer: coarse) {
    .animated-box {
        transform: scale(0);
        opacity: 0;
        transform-origin: center;
        height: 90%;
        min-width: 80%;
        max-width: 90%;
        align-self: center;
        border: .5rem solid;
        border-color: rgb(121, 121, 121);
        /* background: radial-gradient(circle, #e6e3e3 0%, #ffffff 100%); */
        border-radius: 1rem;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 1);
    }
  }

.animated-box.expand {
    animation: bounceIn 800ms ease-out forwards;
}

@keyframes spinAndShrink {
    0% {
        transform: rotate(0deg) scale(1);
        opacity: 1;
    }

    100% {
        transform: rotate(720deg) scale(0);
        opacity: 0;
    }
}

.spin-disappear {
    animation: spinAndShrink 1s ease-out forwards;
}

@keyframes dropBounce {
    0% {
        transform: translateY(-200%);
        opacity: 0;
    }

    60% {
        transform: translateY(0);
        opacity: 1;
    }

    75% {
        transform: translateY(-10%);
    }

    85% {
        transform: translateY(0);
    }

    95% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0);
    }
}

.drop-in {
    animation: dropBounce 1.5s ease-out forwards;
}

#timer {
    font-size: clamp(1rem, 2vw, 2rem);
    position: fixed;
    top: 5%;
    left: 5%;
}


#score {
    font-size: clamp(1rem, 2vw, 2rem);
    position: fixed;
    top: 5%;
    right: 5%;
}

.pulsing {
    animation: pulse .5s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.6;
        transform: scale(1.05);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#playArea {
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: center;
    /* vertical centering */
    justify-content: center;
    /* horizontal centering */

}

button {
    padding: 1rem;
    border-radius: .5rem;
}

@keyframes flash-grow-green {
    0% {
      transform: scale(1);
      color: inherit;
    }
    50% {
      transform: scale(1.2);
      color: green;
    }
    100% {
      transform: scale(1);
      color: inherit;
    }
  }
  
  .flash-score {
    display: inline-block; /* Needed for transform */
    animation: flash-grow-green 1s ease-in-out;
  }